* {
    margin: 0;
    padding: 0;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 100%;
    font-family: 'Pacifico', cursive;
}

div,
section,
span,
ul,
li,
a,
header {
    box-sizing: border-box;
}



/*css reset*/

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
    align-items: center;
    position: fixed;
    z-index: 999;
}

#menu li {
    list-style: none;
    display: inline-block;
    margin: 0 auto;
}

#menu li a {
    color: rgb(47, 176, 228);
    text-decoration: none;
    font-size: 30px;
    padding-left: 0.5em;
}

#menu li a:hover {
    color: orangered;
}

section {
    width: 100%;
    float: left;
    height: 95vh;
    position: relative;
}

#robo {
    position: absolute;
    top: 55%;
    left: 67%;
    transform: translate(-50%, -50%);
}


#formulario{
    background-image: url("images/bg.jpg");
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

/* FUNDOS*/

#home {
    background-image: url("images/bg.jpg");
}

#testes {
    background-image: url("images/fundo1.png");
}

#desafios {
    background-image: url("images/fundo2.png");
}

#sobre {
    background-image: url("images/final.png");
    background-size: cover;
}


/* TEXTOS*/

h1 {
    position: absolute;
    top: 35%;
    left: 33%;
    transform: translate(-50%, -50%);
    font-size: 380%;
    color: rgb(233, 188, 40);
    text-shadow: black 0.05em 0.05em 0.1em;
    font-family: 'Oregano', cursive;
    letter-spacing: 0.04em;
}

h2 {
    position: absolute;
    top: 60%;
    left: 33%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
    font-weight: 100;
    text-align: center;
    line-height: 30px;
}

h3 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #870bc0;
    font-family: 'Pacifico', cursive;
    font-size: 280%;
    text-shadow: purple 0.05em 0.05em 0.3em;
    letter-spacing: 0.04em;
}

p {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
    font-weight: 100;
    text-align: center;
    line-height: 30px;
    width: 80%;
}

h4 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(233, 188, 40);
    font-family: 'Pacifico', cursive;
    font-size: 280%;
    text-shadow: rgb(0, 0, 0) 0.05em 0.05em 0.3em;
    letter-spacing: 0.04em;
}

h5 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fee8ae;
    font-family: 'Pacifico', cursive;
    font-size: 280%;
    font-weight: 100;
    text-shadow: black 0.05em 0.05em 0.3em;
    letter-spacing: 0.04em;
}

h6 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fee8ae;
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
    font-weight: 100;
    text-align: center;
    line-height: 30px;
}


/* SLIDES*/

#breve {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#carouselExampleIndicators {
    position: absolute;
    top: 75%;
    left: 58%;
    transform: translate(-75%, -58%);
}

#button {
    top: 50%;
    left: 50%;
    transform: translate(-0%, -30%);
    font-family: 'Pacifico', cursive;
    text-shadow: none;
}

#textosl {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -10%);
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
    font-weight: 100;
    text-align: center;
    line-height: 30px;
    width: 80%;
    color: rgb(255, 238, 0);
    text-shadow: black 0.05em 0.05em 0;
    background-color: rgba(0, 0, 0, 0.473);
}